/* your custom styles here */

@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700);
/*.my-heading {
    font-family: 'Roboto Slab', serif;
    letter-spacing: 2px;
}*/

.hero-custom {
    height: 530px;
}

.input-field-container {
    position: relative;
    text-align: center;
}

.preinput {
    margin-left: -46px;
    position: absolute;
    top: 50%;
    z-index: 1;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    color: #333;
    padding-left: 10px;
    font-weight: bold;
    font-size: 33px;
}

.donate-box {
    border-radius: 5px;
    height: 225px;
    margin: 0 auto;
    margin-top: 150px;
    background-color: rgba(63, 158, 191, 0.8);
    text-align: center;
    font-size: 28px;
    font-weight: 300;
    padding-top: 5px;
    width: 367px;
}

    .donate-box > .my-heading {
        font-size: 33px;
        font-weight: 400;
    }

.donate-text {
    text-align: center;
}

.donate-amount {
    margin: 0 auto;
    margin-top: 2px;
    height: 60px;
    color: #FD961B;
    font-size: 33px;
    font-weight: bold;
    padding-left: 153px;
    opacity: 1;
    text-align: left;
    width: 90%;
}

.navbar-default {
    height: 80px;
}

.btn-submit {
    background-color: #FD961B;
    width: 90%;
    font-family: "Open Sans", sans-serif;
    color: white;
    margin-top: 20px;
    height: 60px;
    font-size: 20px;
    letter-spacing: 2px;
    padding-top: 16px;
}

    .btn-submit:hover,
    .btn-submit:focus,
    .btn-submit.focus,
    .btn-submit:active,
    .btn-submit.active,
    .btn-submit .open > .dropdown-toggle.btn-submit {
        color: white;
    }

        .btn-submit:active:focus {
            color: white;
        }

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.btn-action {
    background-color: #0E2A35;
    color: white;
    height: 50px;
    border-radius: 4px;
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    letter-spacing: 2px;
    padding: 6px 30px;
}

    .btn-action:hover,
    .btn-action:focus,
    .btn-action.focus,
    .btn-action:active,
    .btn-action.active,
    .btn-action .open > .dropdown-toggle.btn-action {
        color: white;
    }

        .btn-action:active:focus {
            color: white;
        }

.action-volunteer {
    background-color: #5ABFE4;
}

.action-careers {
    background-color: #459DBE;
}

.action-treatment {
    background-color: #2E83A1;
}

.action-shelter {
    background-color: #1E6D8A;
}

.action {
    padding-top: 40px;
    height: 305px;
    text-align: center;
}

.boxed-content .boxed-content-title {
    font-size: 33px;
    font-family: 'Roboto Slab', serif;
    font-weight: 400;
    letter-spacing: 2px;
    color: white;
    height: 90px;
}

.boxed-content {
    padding-left: 30px;
    padding-right: 30px;
}

    .boxed-content > i {
        font-size: 6em;
        color: white;
        opacity: .4;
    }

section.impact {
    background-image: url('../img/mountains.png?1420789489');
    background-size: cover;
    height: 700px;
}

section {
    margin-bottom: 0;
}

.section-heading {
    /*font-family: 'Roboto Slab', serif;*/
    letter-spacing: 2px;
    color: #264C5A;
    font-size: 50px;
    text-align: center;
    padding-top: 40px;
}

    .section-heading:after {
        content: '';
    }

.navbar-fixed-top .navbar-nav {
    margin-top: 15px;
}

.navbar-default .navbar-nav > li > a {
    color: #3F9EC6;
}

    .navbar-default .navbar-nav > li > a:hover,
    .navbar-default .navbar-nav > li > a:focus {
        color: #FD961B;
    }

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #FD961B;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    color: #FD961B;
}

.page-content {
    margin-top: 30px !important;
}

a {
    color: #3F9EC6;
}

.month {
    background: #3F9EC6;
    color: #fff;
    display: block;
    font-size: 16px;
    text-transform: uppercase;
    text-align: center;
}

.day {
    clear: left;
    display: block;
    padding-top: 5px;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    background-color: #EBEBEB;
}

.alert-warning {
    background-color: #FD961B;
    color: white;
}

.fa-envelope {
    margin-right: 10px;
}

.stories {
    border-right: 1px solid #EBEBEB;
}

.contacts h3 {
    font-size: 20px;
}


@media screen and (max-width: 992px) {
    .navbar-default .navbar-nav > .active > a,
    .navbar-default .navbar-nav > .active > a:hover,
    .navbar-default .navbar-nav > .active > a:focus,
    .navbar-default .navbar-nav > .active.open > a,
    .navbar-default .navbar-nav > .active.open > a:hover,
    .navbar-default .navbar-nav > .active.open > a:focus {
        background-color: #3F9EC6;
        color: #aaa;
    }

    ul.navbar-nav {
        background-color: #EBEBEB;
    }

    .page-content {
        margin-top: 90px !important;
    }
}

body {
    padding-top: 80px;
}

@media (max-width: 979px) {
    body {
        padding-top: 0px;
    }
}
